.user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
}

.status{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
    font-size: 15px;
    line-height: 20px;
    overflow-wrap: break-word;
    font-weight: 400;
}
.username{
    color: rgb(136,153,166);
    font-size: 13px;
}

a span:first-child:hover{
    text-decoration: underline;
}

a:hover{
    text-decoration: none!important;
}

.time {
    font-size: 10px !important
}

.socials i {
    margin-right: 14px;
    font-size: 17px;
    color: #d2c8c8;
    cursor: pointer
}

.feed-image img {
    width: 100%;
    height: auto
}
.share-input:focus {
    outline: 0 !important;
    box-shadow: none
}

.share-input {
    outline: 0 !important;
    box-shadow: none
}

.publish-options div{
    cursor: pointer;
}

.publish {
    border-radius: 0px !important;
    background: #1DA1F2!important;
    color: #fff;
    cursor: pointer
}

.publish:hover {
    background: #1DA1F2!important;
}

textarea {
    padding-top:10px;
    padding-bottom:25px;
    width:100%;
    display:block;
    max-height: 288px!important;
    resize: none;
}

.preview {
    /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;
}

.preview img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
}

@media screen and(max-width: 576px) {
    .publish.btn{
        padding-left: 20px!important;
        padding-right: 20px!important;
    }
}

@media screen and(max-width: 440px) {
    .username{
        display: block;
    }
}
